/*================================= App ========================================*/
:root {
    --clr-main: #DCAF68;
    --clr-header-background: #696969;
    --clr-black: rgba(black, 1);
    --clr-grey: rgba(black, 0.7);

    --font-family-main: "Roboto";
    --font-family-highlight: "Roboto Slab";

    --font-weight-300: 300;
    --font-weight-500: 500;
    --font-weight-700: 700;
    --font-weight-900: 900;

    --body-font-family: var(--font-family-main);
    --body-font-weight: var(--font-weight-300);
    --body-line-height: 1.75;
    --body-letter-spacing: 0.02;

    --headers-font-family: var(--font-family-highlight);
    --headers-font-weight: var(--font-weight-700);

    --headers-strong-font-family: var(--font-family-main);
    --headers-strong-font-weight: var(--font-weight-900);

    --font-size-header-brand: 2rem;
}

html {
    position: relative;
    min-height: 100%;
}

// body {
//     padding-top: 75px;
// }
// @media screen and (max-width: 768px) {
//     body { padding-top: 0px; }
// }

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    text-align: center;
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height);
    letter-spacing: var(--body-letter-spacing);
    color: var(--clr-grey);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--headers-font-family);
    font-weight: var(--headers-font-weight);
}

.btn {
    $clr-main: #DCAF68;
    background-color: var(--clr-main);
    border-color: var(--clr-main);
    color: white;
    margin: 5px;
    &:hover {
        background-color: darken($clr-main, 10%);
        border-color: lighten($clr-main, 10%);
        color: white;
    }
    &:focus {
        outline: 0;
        -webkit-box-shadow: 0 0 0 0.2rem darken($clr-main, 20%);
        box-shadow: 0 0 0 0.2rem darken($clr-main, 20%);
    }
}

/* margin of every main container is the height of the navigation menu + 50px */
.container-main {
    margin: 4em auto;
    padding: 1em;
    width: 80%;
    max-width: 1140px;
}

.font-italic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline !important;
}

.text-upper {
    text-transform: uppercase;
}

a {
    cursor: pointer;
    &:hover, &:focus {
        color: #DCAF68 !important;
        color: var(--clr-main) !important;
        background-color: transparent !important;
    }
}
