#modalVideo .modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform 0.3s ease-out;
       -moz-transition: -moz-transform 0.3s ease-out;
         -o-transition: -o-transform 0.3s ease-out;
            transition: transform 0.3s ease-out;
}
  
#modalVideo .modal.in .modal-dialog { // should remove these if not working for modal video
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
        transform: translate(0, 0);
}