.social-icons {
    margin: -0.25em 0;
    padding: 0;
}

.social-icon {
    color: #DCAF68;
    color: var(--clr-main);
    font-size: 1.5rem;
    padding: 0 0.2em;
}

.footer .navbar-text {
    font-family: "Roboto";
    font-weight: 500;

    font-family: var(--font-family-main);
    font-weight: var(--font-weight-500);

    font-size: 0.7rem;
    color: white;
    margin-top: 0;
    padding: 0;
}
