.col-form-label {
    font-weight: 700;
    font-weight: var(--font-weight-700);
    @media screen and (min-width: 576px) {
        text-align: right;
    }
}

.form-group__radio-labels {
    @media screen and (min-width: 576px) {
        text-align: left;
    }
}
